{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_static %}
<div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane vic-active">
    {{ form_start(form) }}
    {% set imageTheme = form.imageTheme.vars.data|default('default') %}
    {% set base = {
        'default' : {left: 'col-md-4', right: 'col-md-8'},
        'cover'   : {left: 'col-md-8', right: 'col-md-4'},
        'popover' : {left: 'col-md-3', right: 'col-md-9'}
    } %}
    <div class="row">
        <div class="col-ms-12 {{ attribute(base, imageTheme).left }}">
            {% include 'VictoireWidgetImageBundle:form:image.html.twig' %}
        </div>
        <div class="col-ms-12 {{ attribute(base, imageTheme).right }}">
            {% set layout = {
                'default' : {text: 'col-md-6',  link: 'col-md-6', style: 'col-md-12'},
                'cover'   : {text: 'hidden',    link: 'hidden',   style: 'col-md-12'},
                'popover' : {text: 'col-md-12', link: 'col-md-4', style: 'col-md-8'}
            } %}
            <div class="col-ms-12 {{ attribute(layout, imageTheme).text }}">
                {% include 'VictoireWidgetImageBundle:form:text.html.twig' %}
            </div>
            <div class="col-ms-12 {{ attribute(layout, imageTheme).link }}">
                {% include 'VictoireWidgetImageBundle:form:link.html.twig' %}
            </div>
            <div class="col-ms-12 {{ attribute(layout, imageTheme).style }}">
                {% include 'VictoireWidgetImageBundle:form:style.html.twig' %}
            </div>
        </div>
        <div class="col-sm-12">
            {{ form_rest(form) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock form_static %}

{% block form %}
{{ parent() }}
<script type="text/javascript">
    $vic('#victoire_widget_form_image_linkType').on('change', function(){
        $vic('.vic-linkType').addClass('vic-hidden');
        if ($vic(this).val() == 'url') {
            $vic('.vic-linkType-url').removeClass('vic-hidden');
        } else if ($vic(this).val() == 'page') {
            $vic('.vic-linkType-page').removeClass('vic-hidden');
        }
    });

    $vic(document).on('victoire_widget_form_create_presubmit victoire_widget_form_update_presubmit', function(event) {
        for ( instance in CKEDITOR.instances ) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script>

{% endblock form %}
