{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_static %}
<div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane vic-active">
    {{ form_start(form) }}
    <div class="row">
        <h3 class="col-sm-12">{{ 'widget_image.form.content.label'|trans({}, 'victoire') }}</h3>
        <div class="col-sm-7">
            {% include 'VictoireWidgetImageBundle:form:image.html.twig' %}
        </div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    {{ form_row(form.alt) }}
                </div>
                <div class="col-sm-12">
                    {{ form_row(form.legend) }}
                </div>
            </div>
        </div>
        <h3 class="col-sm-12">{{ 'widget_image.form.link.label'|trans({}, 'victoire') }}</h3>
        <div class="col-sm-12">
            {{ form_widget(form.link) }}
        </div>
        <h3 class="col-sm-12">{{ 'widget_image.form.hover.label'|trans({}, 'victoire') }}</h3>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">{{ form_row(form.hover) }}</div>
                {% if form.placement is defined and form.placement %}
                <div class="col-sm-4">{{ form_row(form.placement) }}</div>
                {% endif %}
                <div class="col-sm-4">{{ form_row(form.title) }}</div>
                {% if form.popover is defined and form.popover %}
                    {{ form_row(form.popover) }}
                {% endif %}
                {% if form.tooltip is defined and form.tooltip %}
                    {{ form_row(form.tooltip) }}
                {% endif %}
            </div>
        </div>
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock form_static %}

{% block form %}
{{ parent() }}
<script type="text/javascript">
    <!--
    /**
     * This function update the textarea hidden by CKEditor before submit the form to submit the good value.
     */
    $vic(document).on('victoire_widget_form_create_presubmit victoire_widget_form_update_presubmit', function(event) {
        if (typeof CKEDITOR != 'undefined') {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        }
    });
    -->
</script>

{% endblock form %}
