{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_static %}
<div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane vic-active">
    {{ form_start(form) }}

    <div class="row">
        <div class="vic-col-sm-4">
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>

        <div class="vic-col-sm-4">
            <div class="row">
                <div class="vic-col-sm-6">
                    {{ form_row(form.width) }}
                </div>

                <div class="vic-col-sm-6">
                    {{ form_row(form.height) }}
                </div>
            </div>

            {{ form_row(form.alt) }}

            {{ form_row(form.title) }}
        </div>

        <div class="vic-col-sm-4">
            {{ form_widget(form.link) }}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock form_static %}

{% block form %}
{{ parent() }}
<script type="text/javascript">
    $vic('#victoire_widget_form_image_linkType').on('change', function(){
        $vic('.vic-linkType').addClass('vic-hidden');
        if ($vic(this).val() == 'url') {
            $vic('.vic-linkType-url').removeClass('vic-hidden');
        } else if ($vic(this).val() == 'page') {
            $vic('.vic-linkType-page').removeClass('vic-hidden');
        }
    });
</script>

{% endblock form %}
