{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block form_static %}
<div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane vic-active">
    {{ form_start(form) }}
        <div class="row">
            <div class="vic-col-xs-8">
            {{ form_row(form.image) }}
            </div>
            <div class="vic-col-xs-4">
                {{ form_label(form.width) }}
                {{ form_widget(form.width) }}
                {{ form_label(form.height) }}
                {{ form_widget(form.height) }}
            </div>
        </div>
        {{ form_row(form.alt) }}
        {{ form_row(form.title) }}
        {{ form_row(form.linkType) }}
        <div class="vic-linkType vic-linkType-url{% if form.vars.value.linkType != "url" %} vic-hidden{% endif %}">
            {{ form_row(form.url) }}
        </div>
        <div class="vic-linkType vic-linkType-page{% if form.vars.value.linkType != "page" %} vic-hidden{% endif %}">
            {{ form_row(form.relatedPage) }}
        </div>
        {{form_rest(form)}}
    {{ form_end(form) }}
</div>
{% endblock form_static %}

{% block form %}
{{ parent() }}
<script type="text/javascript">
    $vic('#victoire_widget_form_image_linkType').on('change', function(){
        $vic('.vic-linkType').addClass('vic-hidden');
        if ($vic(this).val() == 'url') {
            $vic('.vic-linkType-url').removeClass('vic-hidden');
        } else if ($vic(this).val() == 'page') {
            $vic('.vic-linkType-page').removeClass('vic-hidden');
        }
    });
</script>

{% endblock form %}
