{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% trans_default_domain "victoire" %}

{% block content %}

	{% if linkType != 'none' %}
	    {% if linkType == 'page' %}
	        {% set link = path('victoire_core_page_show', {'url' : relatedPage.url}) %}
	        {% set target = '_parent' %}
	    {% else %}
	        {% set link = url %}
	        {% set target = '_blank' %}
	    {% endif %}
	        <a href="{{ link }}" target="{{ target }}">
	{% endif %}
	{% if image.url == null %}
	   {{ 'The image was not found'|trans }}
	{% else %}
	  {% if (entity != null or mode == 'static') %}
	     <img src="{{ image.url }}" title="{{ title }}" alt="{{ alt }}" />
	  {% else %}
	   {{ image.url }}
	{% endif %}

	{% endif %}

	{% if linkType != 'none' %}
	</a>
	{% endif %}

{% endblock content %}
