{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% trans_default_domain "victoire" %}

{% block popover %}{% include 'VictoireWidgetImageBundle:blocks:popover.html.twig' %}{% endblock %}
{% block tooltip %}{% include 'VictoireWidgetImageBundle:blocks:tooltip.html.twig' %}{% endblock %}
{% block attributes %}{% include 'VictoireWidgetImageBundle:blocks:attributes.html.twig' %}{% endblock %}
{% block image %}<img {{ block('attributes')|raw }} {{ block('popover')|raw }} {{ block('tooltip')|raw }}/>{% endblock %}
{% block script %}{% include 'VictoireWidgetImageBundle:blocks:script.html.twig' %}{% endblock %}
{% block legend %}{% if legend != '' %}<legend>{{ legend }}</legend>{% endif %}{% endblock %}

{% block widgetImage %}
    {% if (entity != null or mode == 'static') %}
        {{ block('image')|raw }} {{ block('legend') }} {{ block('script') }}
    {% else %}
        {{ image.url }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if image.url is not defined or (image.url is defined and image.url == null) %}
        {{ 'The image was not found'|trans }}
    {% else %}
        {% if link.linkType is defined and link.linkType != 'none' %}
            <a href="{{ vic_link_url(link.parameters) }}" target="{{ link.target }}" title="{{ title }}">
                {{ block('widgetImage')|raw }}
            </a>
        {% else %}
            {{ block('widgetImage')|raw }}
        {% endif %}
    {% endif %}

{% endblock content %}
