{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% trans_default_domain "victoire" %}

{% block content %}

	{% if widget.linkType != 'none' %}
	    {% if widget.linkType == 'page' %}
	        {% set link = path('victoire_core_page_show', {'url' : widget.relatedPage.url}) %}
	        {% set target = '_parent' %}
	    {% else %}
	        {% set link = widget.url %}
	        {% set target = '_blank' %}
	    {% endif %}
	        <a href="{{ link }}" target="{{ target }}">
	{% endif %}
	{% if content == null %}
	   {{ 'The image was not found'|trans }}
	{% else %}
	  {% if (widget.entity != null or widget.mode == 'static') %}
	     <img src="{{ content }}" title="{{ widget.title }}" alt="{{ widget.alt }}" />
	  {% else %}
	   {{ content }}
	{% endif %}

	{% endif %}

	{% if widget.linkType != 'none' %}
	</a>
	{% endif %}

{% endblock content %}
