{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% trans_default_domain "victoire" %}

{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}

<div class="vic-widget" id="widget-{{ widget.id }}">
{% block actions %}{{ cms_widget_actions(widget) }}{% endblock actions %}

{% block content %}
    {% if widget.entity != null %}
		{% if widget.linkType != 'none' %}
		    {% if widget.linkType == 'page' %}
		        {% set link = path('victoire_core_page_show', {'url' : widget.relatedPage.url}) %}
		        {% set target = '_parent' %}
		    {% else %}
		        {% set link = widget.url %}
		        {% set target = '_blank' %}
		    {% endif %}
		        <a href="{{ link }}" target="{{ target }}">
		{% endif %}
		{% if content == null %}
		   {{ 'The image was not found'|trans }}
		{% else %}
		   <img src="{{ content }}" title="{{ widget.title }}" alt="{{ widget.alt }}" />
		{% endif %}


		{% if widget.linkType != 'none' %}
		</a>
		{% endif %}
	{% else %}
	   {{ content }}
	{% endif %}
{% endblock content %}
</div>

{% endblock body %}
