{% extends 'VictoireCoreBundle:Widget:show.html.twig' %}
{% trans_default_domain "victoire" %}

{% block content %}

    {% if link.linkType is defined and link.linkType != 'none' %}
        <a href="{{ vic_link_url(link.parameters) }}" target="{{ link.target }}" title="{{ title }}">
    {% endif %}
    {% if image.url == null %}
       {{ 'The image was not found'|trans }}
    {% else %}
      {% if (entity != null or mode == 'static') %}
         <img
                 {% if widget.lazyLoad %}
                     src="/bundles/victoirewidgetimage/images/placeholder.png"
                     data-src="{{ image.url }}"
                 {% else %}
                     src="{{ image.url }}"
                 {% endif %}
                 alt="{{ alt }}"
                 style="{% if width %}width: {{ width }}; {% endif %}{% if height %}height: {{ height }};{% endif %}"
                 {% if width %}width="{{ width }}"{% endif %}
                 {% if height %}height="{{ height }}"{% endif %}
                 />
         {% if legend != '' %}
            <legend>{{ legend }}</legend>
         {% endif %}
      {% else %}
       {{ image.url }}
    {% endif %}

    {% endif %}

    {% if link.linkType is defined and link.linkType != 'none' %}
    </a>
    {% endif %}

{% endblock content %}
