{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}
<div id="widget-{{slot}}" class="add-widget">
{% block form %}
    <form method="POST" action="{{path('victoire_cms_widget_create', {'page': page.id,'slot':slot, 'type':'image', 'entity': entity} )}}">
    {#Replace this default rendering by your own form#}
{% if entity %}
    {{form_widget(form.entity)}}
{% else %}
    {{form_row(form.url)}}
    {{form_row(form.alt)}}
    {{form_row(form.title)}}
{% endif %}
{{form_rest(form)}}
{{form_errors(form)}}
{% block submit %}
    <button class="btn btn-success" type="submit">{{ 'ok'|trans|desc('Ok') }}</button>
    <a class="btn" class="cancel" onclick="cancelWidget(this);">{{ 'cancel'|trans|desc('Annuler') }}</a>
{% endblock submit %}
    </form>
{% endblock form %}
</div>
{% endblock body %}
