{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}

<div class="widget" id="widget-{{widget.id}}">
{% block actions %}{{cms_widget_actions(widget)}}{% endblock actions %}

{% block content %}
<img src="{{widget.image.url}}" title="{{widget.title}}" alt="{{widget.alt}}" />
{% endblock content %}
</div>

{% endblock body %}
